body {
    background-image: url("/turtle.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    background-color: white;
    margin: 0 auto;
    padding-left: 10em;
    padding-right: 10em;
    max-width: calc(100% - 20em); /* Reduces width by 20em (10em on each side) */
    box-sizing: border-box;
    text-align: center;
}

#searchResults {
    color: forestgreen;
}

h1 {
    color: forestgreen;
    font-size: 24px;
}

#oog {
    border-radius: 60%;
    width: 20%;
    height: 20%;
}

h3 {
    outline: groove;
    outline-width: thin;
}

#buttons, #button1, #button2 {
    padding: 5px;
}
